img {
  transition: transform 0.3s ease-in-out;
}
img:hover {
  transform: scale(1.05);
}
.letter-spacing-wide {
  letter-spacing: 0.05em;
}

.hover-shadow {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hover-shadow:hover {
  transform: translateY(-5px);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}

.dish-image {
  height: 200px;
  object-fit: cover;
}

@media (min-width: 768px) {
  .dish-image {
    height: 200px;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.transition-all {
  transition: all 0.3s ease;
}

.btn[disabled] {
  opacity: 0.65;
  cursor: not-allowed;
}
